<div class="app-header">
  <h1>Todoey</h1>
  <mat-card>
    <form  (submit)="onAddReminder(reminderForm)" #reminderForm="ngForm">
      <div class="inputs-container">
        <h3>New Reminder</h3>
      <fieldset>
          <div class="mat-card-header">
          <mat-form-field>
            <input
              type="text"
              matInput
              placeholder="title"
              name="title"
              minlength="3"
              maxlength="10"
              ngModel
              #nome="ngModel"
              required
              />
          </mat-form-field>

          <mat-form-field>
            <input
              type="date"
              matInput
              placeholder="deadline"
              name="deadline"
              ngModel
              #nome="ngModel"
              required
              />
          </mat-form-field>
        </div>

        <mat-form-field class="mat-input-reminder">
          <textarea
            matInput
            placeholder="reminder"
            name="body"
            ngModel
            #nome="ngModel"
            required
          ></textarea>
        </mat-form-field>
      </fieldset>
        <button mat-raised-button color="primary">
          Add Reminder
        </button>
      </div>
    </form>
  </mat-card>
</div>
