:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  position: relative;
  background-color: #f5f5f5;
  border-radius: 50px 50px 0 0;
  padding-bottom: 2rem;

  #add_reminder {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #45f6eb;
    color: white;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 2;
    font-size: 229%;
    padding-bottom: 4px;
    transition: all 0.3s;
    &:hover {
      background-color: #40e7dc;
      transform: scale(1.05);
      cursor: pointer;
    }
  }

  @media screen and (min-width: 468px) {
    #add_reminder {
      height: 80px;
      width: 80px;
      position: absolute;
      top: -40px;
      right: 65px;
      font-size: 50px;
      padding-bottom: 6px;
    }
  }

  mat-card {
    flex: 2;

    form {
      display: flex;
      align-items: center;
      flex-direction: column;
      .inputs-container {
        width: 90%;

        h3 {
          text-align: left;
          font-size: large;
        }

        .mat-input-reminder {
          width: 100%;
        }

        button {
          float: left;
          background-color: #3ee4d9;
          transition: all 0.2s;
          &:hover {
            background-color: #38d3c9;
          }
        }
      }
    }
  }
}
