<main id="login-main">
  <form (submit)="onSubmit(form)" #form="ngForm" class="login-body col-12 col-md-6 col-lg-4">
    <fieldset>
      <mat-form-field>
        <input matInput type="email" name="email" placeholder="E-Mail" ngModel #email="ngModel" required />
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" name="password" placeholder="Password" ngModel #password="ngModel" required />
      </mat-form-field>
    </fieldset>

    <button mat-raised-button class="btn btn-block color-out-accent" routerLink="/register">Sign-Up</button>
    <button mat-raised-button class="btn btn-block color-accent" type="submit">Login</button>
  </form>
</main>