:host{
  flex: 1;
  display: flex;
  flex-direction: column;
}

#signup-main {
  display:flex;
  flex-direction: column;
  flex: 1;

  h1 {
    text-align: center;
    color: white;
    padding-bottom: 1rem;
  }

  mat-card {
    flex: 1;
    background-color: white;
    border-radius: 50px 50px 0 0;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    margin: auto;

    button {
      color: white;
      background-color: #3BB5D4;
      transition: all 0.2s;
      &:hover {
        background-color: #31CFE8;
      }
    }
  }

}