@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

#app{
  background: linear-gradient(96.17deg, #3BB5D4 0%, #31CFE8 92.95%);
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}