<main id="signup-body" class="container">
  <h1>Sign Up</h1>

  <mat-card>
    <fieldset class="row">
      <mat-form-field class="col-12 col-md-6">
        <input type="text" matInput placeholder="Name" [(ngModel)]="name" />
      </mat-form-field>
      <mat-form-field class="col-12 col-md-6">
        <input type="text" matInput placeholder="CPF" [(ngModel)]="cpf" />
      </mat-form-field>
    </fieldset>

    <fieldset class="row">
      <mat-form-field class="col-12 col-md-6">
        <input type="date" matInput placeholder="Data de Nascimento" [(ngModel)]="date" />
      </mat-form-field>
      <mat-form-field class="col-12 col-md-6">
        <input type="email" matInput placeholder="E-mail" [(ngModel)]="email" />
      </mat-form-field>
    </fieldset>

    <fieldset class="row">
      <mat-form-field class="col-12 col-md-6">
        <input type="tel" matInput placeholder="Telefone" [(ngModel)]="telephone" />
      </mat-form-field>
      <mat-form-field class="col-12 col-md-6">
        <input type="text" matInput placeholder="Senha" [(ngModel)]="password" />
      </mat-form-field>
    </fieldset>

    <button color="primary" mat-raised-button>Cadastrar</button>
    <!-- <button color="primary" mat-raised-button (click)="onAddRegister()">Cadastrar</button> -->
  </mat-card>
</main>